.exercise-2 {
    &.container {
        background: #fff;
        width: 100vw;
        margin: 0 -50vw;
        display: grid;
    }

    .grid {
        display: grid;
        max-width: 70vw;
        width: 100%;
        margin: 0 auto;
    }

    .grid-header {
        background: whitesmoke;
        padding: 20px;
        will-change: transform;
        position: relative;

        z-index: 2;
    }

    .grid-main {
        box-sizing: border-box;
        background: wheat;
        position: relative;
        padding: 20px;
        width: 100%;
        height: 300px;
        will-change: transform;
    }

    .toaster {
        border-radius: 8px;
        background: lightgreen;
        position: absolute;
        padding: 1rem;
        top: -20px;
        right: 20px;
        width: 30vw;

        z-index: 999;
    }
}

