.example-2 {
    display: flex;

    .left, .right {
        width: 25vw;
        height: 25vh;
    }

    .left {
        background: white;
        z-index: 1;

        .inner {
            background: red;
            margin-right: -10vh;
            margin-top: 5vh;
            z-index: 99999;
        }
    }

    .right {
        background: palevioletred;
        margin-left: -12.5vw;
        z-index: 1;

        .inner {
            background: green;
            margin-left: -5vw;
            margin-top: 10vh;
            z-index: 2;
        }
    }
}
