.example-1 {
    display: grid;

    div {
        width: 25vw;
        height: 25vh;
        margin-top: -10vh;
    }

    div:nth-child(1) {
        position: relative;
        //Trick Question: what happens if I comment out next line?
        z-index: 1;
        background: white;
    }

    div:nth-child(2) {
        background: mistyrose;
    }

    > div:nth-child(3) {
        z-index: 0;
        background: rosybrown;
    }
}
